/.metadata/
/Servers/
/BLB_Project/target/
/BLB_Project/.settings/
/BLB_Project/.classpath
/BLB_Project/.project
/BLB_Project/.springBeans
.metadata/.plugins/org.eclipse.core.resources/.projects/BLB_Project/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3.cfe
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/05b0fe8524860bd73cbb07ef30fb34cc/_3.si
.metadata/.plugins/org.eclipse.m2e.core/nexus/8fc7209cd02b53c28dc1b1e33014228e/_45.cfe
.metadata/.plugins/org.eclipse.m2e.core/nexus/8fc7209cd02b53c28dc1b1e33014228e/_45.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/8fc7209cd02b53c28dc1b1e33014228e/_45.si
.metadata/.plugins/org.eclipse.m2e.core/nexus/f164f6dc918b64e788b5c4aba8b134a6/_3.cfe
.metadata/.plugins/org.eclipse.m2e.core/nexus/f164f6dc918b64e788b5c4aba8b134a6/_3.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/f164f6dc918b64e788b5c4aba8b134a6/_3.si
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/version.ini
BLB_Project/target/m2e-wtp/web-resources/META-INF/maven/com.mig/blb/pom.properties
