<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	 <typeAliases>
	 	<typeAlias type="com.mig.blb.helpdesk.model.vo.Faq" alias="faq"/>
	 	<typeAlias type="com.mig.blb.helpdesk.model.vo.Inquiry" alias="inquiry" />
		<typeAlias type="com.mig.blb.helpdesk.model.vo.InquiryAtt" alias="inquiryAtt"/>
		<typeAlias type="com.mig.blb.helpdesk.model.vo.InquiryReply" alias="inquiryReply"/>
	 	<typeAlias type="com.mig.blb.helpdesk.model.vo.Notice" alias="notice"/>
	 	<typeAlias type="com.mig.blb.helpdesk.model.vo.NoticeAtt" alias="noticeAtt"/>
	 	
	 	<typeAlias type="com.mig.blb.product.model.vo.Product" alias="product"/>
	 	<typeAlias type="com.mig.blb.product.model.vo.ProductAtt" alias="productAtt"/>
	 	<typeAlias type="com.mig.blb.product.model.vo.ProductBanner" alias="productBanner"/>
	 	<typeAlias type="com.mig.blb.review.model.vo.Review" alias="review"/>
	 	<typeAlias type="com.mig.blb.review.model.vo.ReviewAtt" alias="reviewAtt"/>
	 	<typeAlias type="com.mig.blb.member.model.vo.Member" alias="member" />
		
	 	<typeAlias type="com.mig.blb.cart.model.vo.Cart" alias="cart" />
	 	<typeAlias type="com.mig.blb.member.model.vo.Delivery" alias="delivery" />
	 	<typeAlias type="com.mig.blb.member.model.vo.CertEmail" alias="certemail" />
	 	<typeAlias type="com.mig.blb.order.model.vo.Order" alias="order" />
	 	<typeAlias type="com.mig.blb.order.model.vo.ProductOrder" alias="productOrder" />
	 	<typeAlias type="com.mig.blb.option.model.vo.Option" alias="option" />
	 	<typeAlias type="com.mig.blb.wish.model.vo.Wish" alias="wish" />
	 	
	 	<typeAlias type="com.mig.blb.member.model.vo.Point" alias="point" />
	 </typeAliases>
	 
	 <mappers>
	 	<mapper resource="/mappers/member-mapper.xml" />
	 	<mapper resource="/mappers/helpdesk-mapper.xml"/>
	 	<mapper resource="/mappers/product-mapper.xml"/>
	 	<mapper resource="/mappers/review-mapper.xml"/>
	 	<mapper resource="/mappers/cart-mapper.xml"/>
	 	<mapper resource="/mappers/order-mapper.xml"/>
	 	<mapper resource="/mappers/option-mapper.xml"/>
	 </mappers>
</configuration>