<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	 <typeAliases>
	 	<typeAlias type="com.mig.blb.helpdesk.model.vo.Notice" alias="notice"/>
	 	<typeAlias type="com.mig.blb.product.model.vo.Product" alias="product"/>
	 	<typeAlias type="com.mig.blb.review.model.vo.Review" alias="review"/>
	 	<typeAlias type="com.mig.blb.member.model.vo.Member" alias="member" />
		<typeAlias type="com.mig.blb.helpdesk.model.vo.Inquiry" alias="inquiry" />
	 	<typeAlias type="com.mig.blb.cart.model.vo.Cart" alias="cart" />

	 	<typeAlias type="com.mig.blb.member.model.vo.Delivery" alias="delivery" />

	 </typeAliases>
	 
	 
	 <mappers>
	 	<mapper resource="/mappers/member-mapper.xml" />
	 	<mapper resource="/mappers/helpdesk-mapper.xml"/>
	 	<mapper resource="/mappers/product-mapper.xml"/>
	 	<mapper resource="/mappers/review-mapper.xml"/>
	 	<mapper resource="/mappers/cart-mapper.xml"/>
	 </mappers>
</configuration>