* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
    color: #333;
}

.outer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
}
.div-container {
    margin-top: 0; /* 상단 마진 제거 */
    margin-bottom: 100px; /* 하단 마진 제거 */
    padding-top:50px;
    font-size: 14px;
    color: #666;
    display: flex; 
    gap: 20px; 
    border: 1px solid #e0e0e0;
    width: 100%;
    max-width: 600px;
    height: 350px;
    flex-wrap: wrap;
}

.div-container>div{
    display: flex;
    flex-direction: column;
    gap: 10px; /* 각 입력 필드 간 간격 */
  
}

.input-wrapper>div{
	height:35px;
	width: 300px;
	padding-left:10px;
	text-align:center;
}
.submit-row {
    margin: 0 auto;
    margin-top : 45px;
    padding-top: 20px;
    text-align: center;
    border-top : 1px solid  #e0e0e0;
    display: flex; 
	flex-direction: row !important; 
	width:100%;
	justify-content: center;
  
}

.submit-row button {
    display: inline-block; /* 버튼을 가로로 배치 */
    margin: 0; /* 기본 여백 제거 */
    align:center;
}

.submit-row .findPwd {
    padding: 12px 30px;
    color: #4A628A;
    border: none;
    width: 145px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border : 1px solid #a4ebf3;
    
}

.submit-row .goLogin {
    padding: 12px 30px;
    background-color: #a4ebf3;
    color: white;
    width: 145px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border:none;
}




