<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="helpdeskMapper">
													  <!-- 관리자 -->													  
	<!-- 공지글 총 갯수 -->
	<select id="selectAdminListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_NOTICE
	</select>	
													  
	<!-- 공지사항 목록 조회 -->
	<select id="selectAdminList" resultMap="noticeResultSet">
		SELECT NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , TO_CHAR(NOTICE_REG_DATE, 'YYYY-MM-DD') AS "NOTICE_REG_DATE"
		  FROM TB_NOTICE
      ORDER BY NOTICE_NO DESC
	</select>

													<!-- FAQ 관련 매퍼 -->
	<!-- FAQ 관련 -->
	<resultMap id="FaqResultSet" type="faq">
		<id column="FAQ_NO" property="faqNo"/>
		<result column="FAQ_TITLE" property="faqTitle"/>
		<result column="FAQ_CONTENT" property="faqContent"/>
		<result column="FAQ_TYPE" property="faqType"/>
		<result column="FAQ_STATUS" property="faqStatus"/>
	</resultMap>
	
	<!-- 관리자 목록조회 -->
	<select id="selectAdminFaqList" resultMap="FaqResultSet">
		SELECT FAQ_NO
		     , FAQ_TITLE
		     , FAQ_CONTENT
		  FROM TB_FAQ
      ORDER BY FAQ_NO DESC
	</select>	
	
	<!-- FAQ 목록조회 -->
	<select id="selectFaqList" resultMap="FaqResultSet">
		SELECT FAQ_NO
		     , FAQ_TITLE
		     , FAQ_CONTENT
		  FROM TB_FAQ
		 WHERE FAQ_STATUS = 'Y'
       	   ORDER BY FAQ_NO DESC
	</select>
	
	<!-- FAQ 등록 -->
	<insert id="insertFaq" parameterType="faq">
	    INSERT INTO TB_FAQ(FAQ_NO,
						      FAQ_TITLE,
						      FAQ_CONTENT,
						      FAQ_TYPE)
					   VALUES(SEQ_FAQ_NO.NEXTVAL,
					         #{faqTitle},
					         #{faqContent},
					         #{faqType})
	</insert>
	
	<!-- FAQ 삭제 -->
	<update id="deleteFaq" parameterType="_int">
		UPDATE TB_FAQ
		   SET FAQ_STATUS = 'N'
		 WHERE FAQ_NO = #{faqNo}
	</update>
	
	<!-- FAQ 수정 -->
	<update id="updateFaq" parameterType="faq">
		UPDATE TB_FAQ
		   SET FAQ_TITLE = #{faqTitle}
		     , FAQ_CONTENT = #{faqContent}
		 WHERE FAQ_NO = #{faqNo}
		   AND FAQ_STATUS = 'Y'
	</update>

													<!-- 공지사항 관련 매퍼 -->
	<!-- 공지글 관련 -->												
	<resultMap id="noticeResultSet" type="notice">
		<id column="NOTICE_NO" property="noticeNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_REG_DATE" property="noticeRegDate"/>
		<result column="NOTICE_PINNED_YN" property="noticePinnedYn"/>
		<result column="NOTICE_STATUS" property="noticeStatus"/>
	</resultMap>
	
	<!-- 공지 첨부파일 관련 -->
	<resultMap id="noticeAttResultSet" type="noticeAtt">
		<id column="NOTICE_ATT_NO" property="noticeAttNo"/>
		<result column="ORIG_FILE_NAME" property="origFileName"/>
		<result column="SAVE_FILE_NAME" property="saveFileName"/>
		<result column="SAVE_PATH" property="savePath"/>
		<result column="NOTICE_ATT_STATUS" property="noticeAttStatus"/>
		<result column="NOTICE_NO" property="noticeNo"/>
	</resultMap>

	<!-- 공지글 목록 조회 - 관리자 -->
	<select id="selectAdminNoticeList" resultMap="noticeResultSet">
		SELECT NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , TO_CHAR(NOTICE_REG_DATE, 'YYYY-MM-DD') AS "NOTICE_REG_DATE"
		     , NOTICE_PINNED_YN
		  FROM TB_NOTICE
	</select>

	<!-- 공지글 총 갯수 -->
	<select id="selectListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_NOTICE
		 WHERE NOTICE_STATUS = 'Y'
		 <if test="keyword != null and keyword != ''">
           AND (NOTICE_TITLE LIKE '%' || #{searchKeyword} || '%'
                OR NOTICE_CONTENT LIKE '%' || #{searchKeyword} || '%')
       	   </if>
	</select>

	<!-- 공지글 목록조회 -->
	<select id="selectList" resultMap="noticeResultSet">
		SELECT NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , TO_CHAR(NOTICE_REG_DATE, 'YYYY-MM-DD') AS "NOTICE_REG_DATE"
		  FROM TB_NOTICE
		 WHERE NOTICE_STATUS = 'Y'
	  <if test="keyword != null and keyword != ''">
           AND (NOTICE_TITLE LIKE '%' || #{searchKeyword} || '%'
                OR NOTICE_CONTENT LIKE '%' || #{searchKeyword} || '%')
       	   </if>
       	   ORDER BY NOTICE_NO DESC
	</select>
	
	<!-- 공지글 등록 -->
	<insert id="insertNotice" parameterType="notice">
	    INSERT INTO TB_NOTICE(NOTICE_NO,
						      NOTICE_TITLE,
						      NOTICE_CONTENT)
					   VALUES(SEQ_NOTICE_NO.NEXTVAL,
					         #{noticeTitle},
					         #{noticeContent})
	</insert>

	<!-- 공지 다중 첨부파일 등록 -->
	<insert id="insertNoticeAtt" parameterType="noticeAtt">
	    INSERT INTO TB_NOTICE_ATTACHMENT (NOTICE_ATT_NO,
									      ORIG_FILE_NAME,
									      SAVE_FILE_NAME,
									      SAVE_PATH,
									      NOTICE_NO)
			    VALUES (SEQ_NOTICE_ATT_NO.NEXTVAL,
				        #{origFileName},
				        #{saveFileName},
				        #{savePath},
				        SEQ_NOTICE_NO.CURRVAL)
	</insert>
	
	<!-- 공지 단일 첨부파일 등록 -->
	<insert id="insertNewNotice" parameterType="noticeAtt">
	    INSERT INTO TB_NOTICE_ATTACHMENT (NOTICE_ATT_NO,
									      ORIG_FILE_NAME,
									      SAVE_FILE_NAME,
									      SAVE_PATH,
									      NOTICE_NO)
			    VALUES (SEQ_NOTICE_ATT_NO.NEXTVAL,
				        #{origFileName},
				        #{saveFileName},
				        #{savePath},
				        SEQ_NOTICE_NO.CURRVAL)
	</insert>
	
	<!-- 이전글 조회 -->
	<select id="selectPreviousNotice" parameterType="int" resultMap="noticeResultSet">
	    SELECT *
		  FROM (SELECT *
			      FROM TB_NOTICE
			     WHERE NOTICE_NO &lt; #{noticeNo}
			  ORDER BY NOTICE_NO DESC)
		  WHERE ROWNUM = 1
	</select>
	
	<!-- 다음글 조회 -->
	<select id="selectNextNotice" parameterType="int" resultMap="noticeResultSet">
	    SELECT *
		  FROM (SELECT *
			      FROM TB_NOTICE
			     WHERE NOTICE_NO &gt; #{noticeNo}
			  ORDER BY NOTICE_NO ASC)
		  WHERE ROWNUM = 1
	</select>
	

	<!-- 공지글 상세조회 -->
	<select id="selectNotice" parameterType="_int" resultMap="noticeResultSet">
	    SELECT NOTICE_NO,
		       NOTICE_TITLE,
		       NOTICE_CONTENT,
		       TO_CHAR(n.NOTICE_REG_DATE, 'YYYY-MM-DD') AS "NOTICE_REG_DATE"
		  FROM TB_NOTICE N
		 WHERE NOTICE_NO = #{noticeNo}
		   AND NOTICE_STATUS = 'Y'
	</select>
	
	<!-- 공지 첨부파일 상세조회 -->
	<select id="selectNoticeAtt" parameterType="_int" resultMap="noticeAttResultSet">
		SELECT NOTICE_ATT_NO,
			   ORIG_FILE_NAME,
		       SAVE_FILE_NAME,
		       SAVE_PATH
		  FROM TB_NOTICE_ATTACHMENT
		 WHERE NOTICE_ATT_STATUS = 'Y'
		   AND NOTICE_NO = #{noticeNo}
	</select>

	<!-- 공지글 삭제 -->
	<update id="deleteNotice" parameterType="_int">
		UPDATE TB_NOTICE
		   SET NOTICE_STATUS = 'N'
		 WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	<!-- 공지 첨부파일 삭제 -->
	<update id="deleteNoticeAtt" parameterType="_int">
		DELETE
		  FROM TB_NOTICE_ATTACHMENT 
		 WHERE NOTICE_ATT_NO = #{noticeAttNo}
           AND NOTICE_NO = #{noticeNo}
           AND SAVE_FILE_NAME = #{saveFileName}
           AND NOTICE_ATT_STATUS = 'Y'
	</update>
	
	<!-- 공지사항 수정 -->
	<update id="updateNotice" parameterType="notice">
		UPDATE TB_NOTICE
		   SET NOTICE_TITLE = #{noticeTitle}
		     , NOTICE_CONTENT = #{noticeContent}
		     , NOTICE_REG_DATE = SYSDATE
		 WHERE NOTICE_NO = #{noticeNo}
		   AND NOTICE_STATUS = 'Y'
	</update>
	
	<!-- 공지사항 첨부파일 수정 -->
	<update id="updateNoticeAtt" parameterType="noticeAtt">
		UPDATE TB_NOTICE_ATTACHMENT
		   SET ORIG_FILE_NAME = #{origFileName},
			   SAVE_FILE_NAME = #{saveFileName},
			   SAVE_PATH = 'resources/uploadFiles/notice/' + #{saveFileName}
			   NOTICE_ATT_STATUS = 'N'
		 WHERE NOTICE_ATT_NO = #{noticeAttNo}
		   AND NOTICE_NO = #{noticeNo}
	</update>	
					
	<!-- 공지사항 첨부파일 삭제 -->
	<delete id="deleteAtt" parameterType="string">
    	DELETE
		  FROM TB_NOTICE_ATTACHMENT
		 WHERE SAVE_FILE_NAME = #{saveFileName}
		   AND NOTICE_ATT_STATUS = 'Y'
    </delete>
    
    <!-- 공지사항 수정 -->
	<insert id="updateAtt" parameterType="noticeAtt">
    INSERT INTO TB_NOTICE_ATTACHMENT(NOTICE_ATT_NO,
                             ORIG_FILE_NAME,
                             SAVE_FILE_NAME,
                             SAVE_PATH,
                             NOTICE_NO)
                      VALUES(SEQ_NOTICE_ATT_NO.NEXTVAL,
                             #{origFileName},
                             #{saveFileName},
                             #{savePath},
                             #{noticeNo})
    </insert>
	
													<!-- 1:1 문의 관련 매퍼 -->
	
	<!-- 문의 관련 -->												
	<resultMap id="inquiryResultSet" type="inquiry">
		<id column="INQUIRY_NO" property="inquiryNo"/>
		<result column="INQUIRY_CONTENT" property="inquiryContent"/>
		<result column="INQUIRY_TYPE" property="inquiryType"/>
		<result column="INQUIRY_CREATE_DATE" property="inquiryCreateDate"/>
		<result column="INQUIRY_ANSWERED_YN" property="inquiryAnsweredYn"/>
		<result column="INQUIRY_STATUS" property="inquiryStatus"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="PROD_NAME" property="prodName"/>
	</resultMap>
	
	<!-- 문의 등록 -->
	<insert id="insertInquiry" parameterType="inquiry">
	    INSERT INTO TB_INQUIRY(INQUIRY_NO
	    					, INQUIRY_TYPE
	                        , INQUIRY_CONTENT
	                        , MEMBER_ID
	                        , PROD_NO)
	                   VALUES(SEQ_INQUIRY_NO.NEXTVAL
	                   		, #{inquiryType}
	                        , #{inquiryContent}
	                        , #{memberId}
	                        , <if test="prodNo == 0">null</if>
	                        <if test="prodNo != 0">#{prodNo}</if>)
	</insert>

	<!-- 문의 첨부파일 등록 -->
	<insert id="insertInquiryAtt" parameterType="inquiryAtt">
	    INSERT INTO TB_INQUIRY_ATTACHMENT (INQUIRY_ATT_NO,
									       ORIG_FILE_NAME,
									       SAVE_FILE_NAME,
									       SAVE_PATH,
									       INQUIRY_NO)
			    VALUES (SEQ_INQUIRY_ATT_NO.NEXTVAL,
				        #{origFileName},
				        #{saveFileName},
				        #{savePath},
				        SEQ_INQUIRY_NO.CURRVAL)
	</insert>
	
	<!-- 문의글 총 갯수 조회 -->
	<select id="selectInquiryListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_INQUIRY
		 WHERE INQUIRY_STATUS = 'Y'
	</select>

	<!-- 문의 목록 조회 -->
	<select id="selectInquiryList" resultMap="inquiryResultSet">
		SELECT I.INQUIRY_NO
		     , I.INQUIRY_CONTENT
		     , I.INQUIRY_TYPE
		     , TO_CHAR(I.INQUIRY_CREATE_DATE, 'YYYY-MM-DD HH:mm:ss') AS "INQUIRY_CREATE_DATE"
		     , IR.INQUIRY_REPLY_YN AS INQUIRY_ANSWERED_YN
		  FROM TB_INQUIRY I
     LEFT JOIN TB_INQUIRY_REPLY IR ON (I.INQUIRY_NO = IR.INQUIRY_NO) 
		 WHERE I.INQUIRY_STATUS = 'Y'
		   AND I.MEMBER_ID = #{memberId}
	  ORDER BY I.INQUIRY_NO DESC
	</select>
	
	<select id="selectAdminInquiryList" resultMap="inquiryResultSet">
		SELECT INQUIRY_NO
		     , INQUIRY_CONTENT
		     , INQUIRY_TYPE
		     , TO_CHAR(INQUIRY_CREATE_DATE, 'YYYY-MM-DD HH:mm:ss') AS "INQUIRY_CREATE_DATE"
		     , INQUIRY_ANSWERED_YN
		  FROM TB_INQUIRY 
	  ORDER BY INQUIRY_NO DESC
	</select>
	
	<!-- 문의글 상세조회 -->
	<select id="selectInquiry" parameterType="_int" resultMap="inquiryResultSet">
	    SELECT INQUIRY_NO
	         , INQUIRY_TYPE
	         , INQUIRY_CONTENT
	         , TO_CHAR(INQUIRY_CREATE_DATE, 'YYYY-MM-DD HH:mm:ss') AS "INQUIRY_CREATE_DATE"
	         , MEMBER_ID
	         , PROD_NAME
	         , PROD_NO
	      FROM TB_INQUIRY 
	      LEFT JOIN TB_PRODUCT USING(PROD_NO)
	     WHERE INQUIRY_NO = #{inquiryNo}
	       AND INQUIRY_STATUS = 'Y'
	</select>
	
	<!-- 문의글 첨부파일 상세조회 -->
	<select id="selectInquiryAtt" parameterType="_int" resultMap="inquiryAttResultSet">
		SELECT INQUIRY_ATT_NO,
			   ORIG_FILE_NAME,
		       SAVE_FILE_NAME,
		       SAVE_PATH
		  FROM TB_INQUIRY_ATTACHMENT
		 WHERE INQUIRY_ATT_STATUS = 'Y'
		   AND INQUIRY_NO = #{inquiryNo}
	</select>	
	
	<!-- 문의글 삭제 -->
	<update id="deleteInquiry" parameterType="_int">
		UPDATE TB_INQUIRY
		   SET INQUIRY_STATUS = 'N'
		 WHERE INQUIRY_NO = #{inquiryNo}
	</update>
	
	<!-- 문의글 수정 -->
	<update id="updateInquiry" parameterType="inquiry">
		UPDATE TB_INQUIRY
		   SET INQUIRY_CONTENT = #{inquiryContent}
		     , INQUIRY_CREATE_DATE = SYSDATE
		 WHERE INQUIRY_NO = #{inquiryNo}
		   AND INQUIRY_STATUS = 'Y'
	</update>
	
	
	<!-- 문의 작성 관련 (첨부파일) -->
	<resultMap id="inquiryAttResultSet" type="inquiryAtt">
		<id column="INQUIRY_ATT_NO" property="inquiryAttNo"/>
		<result column="ORIG_FILE_NAME" property="origFileName"/>
		<result column="SAVE_FILE_NAME" property="saveFileName"/>
		<result column="SAVE_PATH" property="savePath"/>
		<result column="INQUIRY_ATT_STATUS" property="inquiryAttStatus"/>
	</resultMap>
	
	<!-- 문의 첨부파일 삭제 -->
	<delete id="deleteInquiryAtt" parameterType="string">
    	DELETE
		  FROM TB_INQUIRY_ATTACHMENT
		 WHERE SAVE_FILE_NAME = #{saveFileName}
		   AND INQUIRY_ATT_STATUS = 'Y'
    </delete>
    
    <!-- 문의글 수정 -->
	<insert id="updateInquiryAtt" parameterType="inquiryAtt">
    INSERT INTO TB_INQUIRY_ATTACHMENT(INQUIRY_ATT_NO,
                             ORIG_FILE_NAME,
                             SAVE_FILE_NAME,
                             SAVE_PATH,
                             INQUIRY_NO)
                      VALUES(SEQ_INQUIRY_ATT_NO.NEXTVAL,
                             #{origFileName},
                             #{saveFileName},
                             #{savePath},
                             #{inquiryNo})
    </insert>
	
	
	
	<!-- 문의 댓글 작성 관련 -->
	<resultMap id="inquiryReplyResultSet" type="inquiryReply">
		<id column="INQUIRY_REPLY_NO" property="inquiryReplyNo"/>
		<result column="INQUIRY_REPLY_CONTENT" property="inquiryReplyContent"/>
		<result column="INQUIRY_REPLY_CREATE_DATE" property="inquiryReplyCreateDate"/>
		<result column="INQUIRY_REPLY_YN" property="inquiryReplyYn"/>
		<result column="INQUIRY_REPLY_STATUS" property="inquiryReplyStatus"/>
		<result column="INQUIRY_NO" property="inquiryNo"/>
		<result column="MEMBER_ID" property="memberId"/>
	</resultMap>
	
	<!-- 댓글 목록조회 -->
	<select id="selectInquiryReplyList" parameterType="_int" resultMap="inquiryReplyResultSet">
		SELECT INQUIRY_REPLY_NO
		     , INQUIRY_REPLY_CONTENT
		     , TO_CHAR(INQUIRY_REPLY_CREATE_DATE, 'YYYY-MM-DD HH:mm:ss') AS "INQUIRY_REPLY_CREATE_DATE"
		     , MEMBER_ID
		  FROM TB_INQUIRY_REPLY
		 WHERE INQUIRY_NO = #{inquiryNo}
		   AND INQUIRY_REPLY_STATUS = 'Y'
	  ORDER BY INQUIRY_REPLY_NO
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="insertInquiryReply" parameterType="inquiryReply">
	    INSERT INTO TB_INQUIRY_REPLY (
	        INQUIRY_REPLY_NO,
	        INQUIRY_REPLY_CONTENT,
	        INQUIRY_NO,
	        MEMBER_ID,
	        INQUIRY_REPLY_YN,
	        INQUIRY_REPLY_CREATE_DATE
	    ) VALUES (
	        SEQ_INQUIRY_REPLY_NO.NEXTVAL,
	        #{inquiryReplyContent},
	        #{inquiryNo},
	        #{memberId},
	        'Y',
	        SYSDATE
	    )
	</insert>

	<!-- 댓글 삭제 -->
	<update id="deleteInquiryReply" parameterType="_int">
		UPDATE TB_INQUIRY_REPLY
		   SET INQUIRY_REPLY_STATUS = 'N'
		 WHERE INQUIRY_REPLY_NO = #{inquiryReplyNo}
	</update>
	
	
	<!-- 댓글 수정 -->
	<update id="updateInquiryReply" parameterType="inquiry">
		UPDATE TB_INQUIRY_REPLY
    	   SET INQUIRY_REPLY_CONTENT = #{inquiryReplyContent},
               INQUIRY_REPLY_UPDATE_DATE = SYSDATE
         WHERE INQUIRY_REPLY_NO = #{inquiryReplyNo}
	</update>
	
</mapper>
