<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="helpdeskMapper">

	<resultMap id="noitceResultSet" type="notice">
		<id column="NOTICE_NO" property="noticeNo"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_REG_DATE" property="noticeRegDate"/>
		<result column="NOTICE_PINNED_YN" property="noticePinnedYn"/>
		<result column="NOTICE_STATUS" property="noticeStatus"/>
	</resultMap>

	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		  FROM NOTICE
		 WHERE NOTICE_STATUS = 'Y'
	</select>

	<select id="selectList" resultMap="noticeResultSet">
		SELECT NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , TO_CHAR(NOTICE_REG_DATE, 'YYYY-MM-DD') AS "NOTICE_REG_DATE"
		  FROM NOTICE
		 WHERE NOTICE_STATUS = 'Y'
	  ORDER BY NOTICE_NO DESC
	</select>
</mapper>
