<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
<resultMap id="memberResultSet"	type="member">
 		<id column="MEMBER_ID" property="memberId"/>
 		<result column="MEMBER_PWD" property="memberPwd" />
 		<result column="MEMBER_NAME" property="memberName" />
 		<result column="PHONE" property="phone" />
 		<result column="EMAIL" property="email" />
 		<result column="BIRTHDATE" property="birthdate" /> 		
 		<result column="CREATE_DATE" property="createDate" />
 		<result column="DELETE_DATE" property="deleteDate" />
 		<result column="STATUS" property="status" />
 		<result column="TOTAL_POINTS" property="totalPoints" />
 		<result column="CURRENT_POINTS" property="currentPoints" />
 		<result column="GRADE_NAME" property="gradeName" />
</resultMap>

<resultMap id="deliveryResultSet" type="delivery">
 		<id column="DELI_CODE" property="deliCode"/>
 		<result column="DELI_NAME" property="deliName" />
 		<result column="DELI_PHONE" property="deliPhone" />
 		<result column="DELI_ADDRESS" property="deliAddress" />
 		<result column="DELI_DEFAULT" property="deliDefault" />
 		<result column="DELI_COMMENT" property="deliComment" />
 		<result column="POSTCODE" property="postcode" />
 		<result column="DETAIL_ADDRESS" property="detailAddress" />
 		<result column="MEMBER_ID" property="memberId" />
</resultMap>
	
	<select id="loginMember"
			parameterType="member"
			resultMap="memberResultSet">
		SELECT *
		  FROM TB_MEMBER
		  WHERE MEMBER_ID = #{memberId}
		   AND UPPER(status)='Y'
	</select>
	
	<insert id="insertMember" parameterType="member">
	  	INSERT INTO TB_MEMBER (MEMBER_ID
	                       ,MEMBER_NAME
	                       ,MEMBER_PWD
	                       ,PHONE
	                       ,EMAIL
	                       ,BIRTHDATE)                                                                                             
	                  VALUES(#{memberId}
	                        ,#{memberName}
	                        ,#{memberPwd}
	                        ,#{phone}
	                        ,#{email}
	                        ,#{birthdate})            
  	</insert>

	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_MEMBER
		  WHERE MEMBER_ID = #{checkId}
	</select>
	
	<insert id="insertDelivery" parameterType="delivery">
	  	  INSERT INTO TB_DELIVERY (
							    DELI_CODE,
							    DELI_NAME,
							    DELI_PHONE,
							    POSTCODE,
							    DELI_ADDRESS,
							    DETAIL_ADDRESS,
							    MEMBER_ID
							)
							VALUES (
							    SEQ_DELI_CODE.NEXTVAL,
							    #{deliName},
							    #{deliPhone},
							    #{postcode},
							    #{deliAddress},
							    #{detailAddress},
							    #{memberId}
			)       
  	</insert>
	
	<insert id="insertCertEmail" parameterType="certemail">
		INSERT INTO TB_CERT_EMAIL (
							   	CERT_EMAIL,
							    CERT_KEY	    
							)
							VALUES (
							    #{certEmail},
							    #{certKey}
							    )
	</insert>
	
	<select id="selectCertEmail" parameterType="certemail" resultType="_int">
		SELECT COUNT(*)
		  FROM TB_CERT_EMAIL
		 WHERE CERT_EMAIL = #{certEmail}
	       AND CERT_KEY = #{certKey}
	       AND SYSDATE &lt; CERT_DATE + INTERVAL '5' MINUTE
	</select>
	
	<delete id="deleteCertEmail" parameterType="certemail">
		DELETE 
		  FROM TB_CERT_EMAIL
		 WHERE CERT_EMAIL = #{certEmail}
		   AND CERT_KEY = #{certKey}	
	</delete>
	
	<update id="updateMember" parameterType="member">
		UPDATE TB_MEMBER 
		   SET 	MEMBER_PWD = #{memberPwd},
	            PHONE = #{phone},
	            EMAIL = #{email},
	            BIRTHDATE = #{birthdate}
	       WHERE MEMBER_ID = #{memberId}
	       	AND STATUS= 'Y'                
	</update>
	
	<select id="selectDefaultDelivery" parameterType="delivery" resultMap="deliveryResultSet">
		SELECT POSTCODE, DELI_ADDRESS, DETAIL_ADDRESS
			FROM TB_DELIVERY		  
	      WHERE MEMBER_ID = #{memberId} 
	                
	</select>
	
	<update id="updateDelivery" parameterType="delivery">
		UPDATE TB_DELIVERY
		   SET 	POSTCODE = #{postcode},
	            DELI_ADDRESS = #{deliAddress},
	            DETAIL_ADDRESS = #{detailAddress}
	      WHERE MEMBER_ID = #{memberId}
	       AND DELI_DEFAULT = 'Y'
	                
	</update>
</mapper>
