<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="orderMapper">

	<resultMap id="orderResultSet" type="order">
    	<id column="ORDER_NO" property="orderNo" />
		<result column="RCVR_NAME" property="rcvrName" />
	    <result column="RCVR_PHONE" property="rcvrPhone" />
	    <result column="RCVR_ADDRESS" property="rcvrAddress" />
	    <result column="DLVR_REQ_MESSAGE" property="dlvrReqMessage" />
	    <result column="DLVR_STATUS" property="dlvrStatus" />
	    <result column="DLVR_FEE" property="dlvrFee" />
	    <result column="DLVR_COMPANY" property="dlvrCompany" />
	    <result column="DISPATCH_DATE" property="dispatchDate" />
	    <result column="COMPLETE_DATE" property="completeDate" />
	    <result column="ORDER_TOTAL_AMT" property="orderTotalAmt" />
	    <result column="PAYMENT_CODE" property="paymentCode" />
	    <result column="PAYMENT_METHOD" property="paymentMethod" />
	    <result column="ORDER_DATE" property="orderDate" />
	    <result column="REFUND_DATE" property="refundDate" />
	    <result column="REFUND_REASON" property="refundReason" />
	    <result column="MEMBER_ID" property="memberId" />
	</resultMap>
	
	<!-- 주문(TB_ORDER) 정보 생성용 쿼리문 -->
	<insert id="insertOrder"
			parameterType="order">
		INSERT INTO TB_ORDER(ORDER_NO
		                   , RCVR_NAME
		                   , RCVR_PHONE
		                   , RCVR_ADDRESS
		                   , DLVR_REQ_MESSAGE
		                   , DLVR_STATUS
		                   , DLVR_FEE
		                   , DLVR_COMPANY
		                   , ORDER_TOTAL_AMT
                           , PAYMENT_CODE
		                   , PAYMENT_METHOD
		                   , ORDER_DATE
		                   , MEMBER_ID)
		              VALUES(SEQ_ORDER_NO.NEXTVAL
		                   , #{rcvrName}
		                   , #{rcvrPhone}
		                   , #{rcvrAddress}
		                   , #{dlvrReqMessage}
		                   , '배송대기'
		                   , #{dlvrFee}
		                   , '대한통운'
		                   , #{orderTotalAmt}
                           , #{impUid}
		                   , #{paymentMethod}
		                   , SYSDATE
		                   , #{memberId})
	</insert>
	
	<!-- 주문번호 조회용 쿼리문 -->
	<select id="selectOrderNo"
			resultType="int">
		SELECT SEQ_ORDER_NO.CURRVAL
		  FROM DUAL
	</select>
	
	<!-- 상품/주문(TB_PRODUCT_ORDER) 정보 생성용 쿼리문 -->
	<insert id="insertProductOrder"
			parameterType="map">
		INSERT INTO TB_PRODUCT_ORDER (SERIAL_NO
		                            , ORDER_QTY
		                            , TOTAL_AMT
		                            , ORDER_NO
		                            , OPT_NO)
		                      VALUES (SEQ_SERIAL_NO.NEXTVAL
		                            , #{orderQty}
		                            , #{totalAmt}
		                            , #{orderNo}
		                            , #{optNo})
	</insert>
	
	<!-- 주문 정보(TB_ORDER) 조회용 쿼리문 -->
    <select id="selectOrderComplete"
    		resultMap="orderResultSet">
	    SELECT *
	      FROM TB_ORDER
	     WHERE ORDER_NO = CAST(#{orderNo} AS VARCHAR2(30))
	</select>
	
	
	<!-- 주문/결제 정보(TB_ORDER) 조회용 쿼리문 -->
	<resultMap id="productOrderResultMap" type="productOrder">
	    <result property="serialNo" column="SERIAL_NO" />
	    <result property="orderQty" column="ORDER_QTY" />
	    <result property="totalAmt" column="TOTAL_AMT" />
	    <result property="orderNo" column="ORDER_NO" />
	    <result property="optNo" column="OPT_NO" />
	    
	    <result column="PROD_NAME" property="prodName" />
		<result column="OPT_NAME" property="optName" />
		<result column="OPT_ADD_PRICE" property="optAddPrice" />
		<result column="REMAIN_QTY" property="remainQty" />
		<result column="PROD_PRICE" property="prodPrice" />
		<result column="THUMB_IMG" property="thumbImg" />
	</resultMap>
	
	<!-- 결제 완료 - 결제 고유 번호 업데이트 -->
	<update id="updateOrderStatus"
			parameterType="map">
	    UPDATE TB_ORDER
	       SET PAYMENT_CODE = #{merchantUid}
    	 WHERE ORDER_NO = #{orderNo}
	</update>

	
    <select id="selectProductOrderList"
    		parameterType="string"
    		resultMap="productOrderResultMap">
	    SELECT PO.SERIAL_NO,
	           PO.ORDER_QTY,
	           PO.TOTAL_AMT,
	           PO.ORDER_NO,
	           PO.OPT_NO,
	           P.PROD_NO,
	           P.PROD_NAME,
	           O.OPT_NAME,
	           O.OPT_VALUE,
	           O.OPT_ADD_PRICE,
	           PA.THUMB_PATH || PA.SAVE_FILE_NAME AS THUMB_IMG,
	           P.PROD_PRICE
	      FROM TB_PRODUCT_ORDER PO
	      LEFT JOIN TB_OPTION O ON PO.OPT_NO = O.OPT_NO
	      LEFT JOIN TB_PRODUCT P ON O.PROD_NO = P.PROD_NO
	      LEFT JOIN (
		      SELECT PROD_NO, THUMB_PATH, SAVE_FILE_NAME
		        FROM TB_PRODUCT_ATTACHMENT
		       WHERE (PROD_NO, PROD_ATT_NO) IN (
		           SELECT PROD_NO, MIN(PROD_ATT_NO)
		             FROM TB_PRODUCT_ATTACHMENT
		            WHERE PROD_ATT_STATUS = 'Y'
		              AND THUMB_PATH IS NOT NULL
		            GROUP BY PROD_NO
		       )
		  ) PA
		    ON P.PROD_NO = PA.PROD_NO
	     WHERE PO.ORDER_NO = CAST(#{orderNo} AS VARCHAR2(30))
	     ORDER BY PO.SERIAL_NO ASC
	</select>
	
	<!-- 주문 취소 - 환불일, 환불사유 업데이트 -->
	<update id="updateOrderCancel"
			parameterType="map">
	    UPDATE TB_ORDER
	       SET REFUND_DATE = SYSDATE,
	           REFUND_REASON = #{refundReason}
	     WHERE ORDER_NO = CAST(#{orderNo} AS VARCHAR2(30))
	</update>
		
	
	


</mapper>