<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

	<resultMap id="reviewResultSet" type="review">
		<id column="REV_NO" property="revNo"/>
		<result column="REV_TITLE" property="revTitle"/>
		<result column="REV_CONTENT" property="revContent"/>
		<result column="REV_ENROLL_DATE" property="revEnrollDate"/>
		<result column="REV_RATING" property="revRating"/>
		<result column="REV_STATUS" property="revStatus"/>
		<result column="ORDER_NO" property="orderNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="OPT_NAME" property="optName"/>
		<result column="OPT_VALUE" property="optValue"/>
	</resultMap>
	
	<select id="selectReviewCount" parameterType="_int" 
			resultType="_int">
		SELECT COUNT(*) AS COUNT
		  FROM TB_REVIEW R
		  LEFT JOIN TB_PRODUCT_ORDER PO ON (R.ORDER_NO = PO.ORDER_NO)
		  LEFT JOIN TB_OPTION OPT ON (PO.OPT_NO = OPT.OPT_NO)
		 WHERE OPT.PROD_NO = #{prodNo}
		   AND REV_STATUS = 'Y'
	</select>
	
	<select id="selectReviewList" parameterType="_int"
			resultMap="reviewResultSet">
		SELECT R.REV_NO
		     , R.REV_CONTENT
		     , R.REV_ENROLL_DATE
		     , R.REV_RATING
		     , R.MEMBER_ID
		     , OPT.OPT_NAME
		     , OPT.OPT_VALUE
		  FROM TB_REVIEW R
		  LEFT JOIN TB_PRODUCT_ORDER PO ON (R.ORDER_NO = PO.ORDER_NO)
		  LEFT JOIN TB_OPTION OPT ON (PO.OPT_NO = OPT.OPT_NO)
		 WHERE OPT.PROD_NO = #{prodNo}
		 ORDER BY REV_NO DESC
	</select>
	
</mapper>
