body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-color: #e0f5f1; /* 부드러운 민트색 배경 */
        }
    
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 150, 136, 0.1); /* 민트색 음영 */
        }
    
        h1 {
            text-align: center;
            color: #4A628A; /* 부드러운 블루 컬러 */
        }
    
        .tabs {
            display: flex;
            justify-content: space-between; /* 탭들 간격을 자동으로 조정 */
            margin-bottom: 10px;
            border-bottom: 2px solid #DFF2EB; /* 민트색 하단 테두리 */
        }
    
        .tab-button {
            flex-grow: 1; /* 버튼이 가능한 공간을 모두 차지하도록 */
            padding: 10px 20px;
            border: none;
            background-color: #f0f0f0;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            border-radius: 5px;
            text-align: center; /* 버튼 텍스트 중앙 정렬 */
        }
    
        .tab-button:hover {
            background-color: #4A628A;
            color: #fff;
        }
    
        .tab-button.active {
            background-color: #4A628A;
            color: #fff;
        }
    
        .tab-content {
            display: none;
        }
    
        .tab-content.active {
            display: block;
        }
    
        .sub-tabs {
            display: flex;
            justify-content: space-between; /* 서브탭 버튼들이 가로로 꽉 차게 배치 */
            margin-bottom: 20px;
        }
    
        .sub-tab-button {
            flex-grow: 1; /* 서브탭 버튼이 가능한 공간을 모두 차지하도록 */
            padding: 10px 20px;
            border: none;
            background-color: #f0f0f0;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
            border-radius: 5px;
            text-align: center; /* 버튼 텍스트 중앙 정렬 */
        }
    
        .sub-tab-button:hover {
            background-color: #A4EBF3; /* 밝은 블루 */
            color: #fff;
        }
    
        .sub-tab-button.active {
            background-color: #4A628A;
            color: #fff;
        }
    
        .faq-item {
            margin-bottom: 10px;
            border: 1px solid #ddd;
            padding: 10px;
            background-color: #e0f5f1; /* 민트색 배경 */
        }
    
        .faq-question {
            cursor: pointer;
            font-weight: bold;
            color: #4A628A; /* 부드러운 블루 컬러 */
        }
    
        .faq-answer {
            display: none;
            margin-top: 10px;
            padding: 10px;
            background-color: #e0f2f1; /* 부드러운 민트색 */
        }
    
        table {
            width: 100%;
            border-collapse: collapse; /* 경계선 합치기 */
        }
    
        th, td {
            padding: 10px;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: center; /* 가운데 정렬 */
        }
    
        th {
            background-color: #b2dfdb; /* 부드러운 민트 그라데이션 */
        }
    
        td {
            border-top: 1px solid #ddd; /* 가로선만 표시 */
            border-bottom: 1px solid #ddd; /* 가로선만 표시 */
        }
    
        /* 페이지네이션 스타일 */
		.pagination {
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    margin-top: 20px;
		    padding: 10px 0;
		    list-style-type: none;
		}
		
		.pagination .page-item {
		    margin: 0 5px;
		}
		
		.pagination .page-link {
		    display: inline-block;
		    padding: 8px 16px;
		    border: 1px solid #ddd;
		    background-color: #f8f9fa;
		    color: #4A628A;
		    text-decoration: none;
		    text-align: center;
		    cursor: pointer;
		    border-radius: 6px;
		    transition: background-color 0.3s ease, color 0.3s ease;
		}
		
		.pagination .page-link:hover {
		    background-color: #4A628A;
		    color: #fff;
		}
		
		.pagination .page-item.disabled .page-link {
		    background-color: #e0f5f1;
		    color: #ccc;
		    pointer-events: none;
		    border-color: #ddd;
		}
		
		.pagination .page-item.active .page-link {
		    background-color: #4A628A;
		    color: #fff;
		    border-color: #4A628A;
		}
		
		.pagination .page-link:focus {
		    outline: none;
		    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
		}

    
        .notice-search {
            display: flex;
            justify-content: flex-end;
            margin: 10px 0;
        }
        
        .notice-search input {
            width: 200px;
            padding: 5px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        
        .notice-search button {
            padding: 5px 10px;
            margin-left: 5px;
            font-size: 14px;
            background-color: #7AB2D3;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        .notice-search button:hover {
            background-color: #5e99b8;
        }
        
        #notice-table tbody tr:hover {
		    background-color: #f0f8ff; /* 연한 파란색 배경 */
		    cursor: pointer;
		    transition: background-color 0.3s ease;
		}
		
		#notice-table tbody tr:hover td {
		    color: #007acc; /* 강조된 파란색 텍스트 */
		}

        @media (max-width: 768px) {
            .container {
                width: 95%;
            }
            
            .tabs {
                flex-direction: row;
                justify-content: center;
            }
    
            .tab-button {
                margin-bottom: 5px;
            }
    
            .sub-tabs {
                flex-direction: column; /* 작은 화면에서는 서브탭을 세로로 배치 */
            }
    
            .sub-tab-button {
                margin-bottom: 5px;
            }

        }