.container {
    width: 80%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 150, 136, 0.1); /* 민트색 그림자 */
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
}

.container-fluid > .tabs > a {
    text-decoration: none;
    cursor: pointer;
    color: red;
}

h1 {
    margin-top: 20px;
    text-align: center;
    color: #4A628A; /* 진한 파랑색 */
    font-size: 28px;
}

.tabs {
    display: flex;
    justify-content: space-between; /* 각 버튼을 고르게 배치 */
    margin-bottom: 10px;
}

/* 메인 탭 버튼 스타일 */
.tab-button {
    flex-grow: 1;
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    text-align: center;
}

/* 메인 탭 버튼 hover 시 색상 변화 */
.tab-button:hover {
    background-color: #A4EBF3; /* 밝은 파랑색 */
    color: #fff;
}

/* 메인 탭 버튼 active 상태 */
.tab-button.active {
    background-color: #4A628A; /* 진한 파랑색 */
    color: #fff;
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse; /* 테두리 중복 제거 */
}

th, td {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center; /* 가운데 정렬 */
}

th {
    background-color: #b2dfdb; /* 민트색 강조 */
}

td {
    border-top: 1px solid #ddd; /* 상단 테두리 */
    border-bottom: 1px solid #ddd; /* 하단 테두리 */
}

/* FAQ 섹션 관련 스타일 */
.sub-tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 서브탭 버튼 스타일 */
.sub-tab-button {
    flex-grow: 1;
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    text-align: center;
}

/* 서브탭 버튼 hover 시 색상 변화 */
.sub-tab-button:hover {
    background-color: #A4EBF3;
    color: #fff;
}

/* 서브탭 버튼 active 상태 */
.sub-tab-button.active {
    background-color: #4A628A;
    color: #fff;
    font-weight: bold;
}

/* FAQ 항목 스타일 */
.faq-item {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #e0f5f1; /* 민트색 배경 */
}

.faq-question {
    cursor: pointer;
    font-weight: bold;
    color: #4A628A; /* 배경색 진한 파랑 */
}

.faq-answer {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #e0f2f1; /* 연한 민트색 */
}

/* 메인 탭과 서브탭 active 상태 */
.tab-button.active, .sub-tab-button.active {
    font-weight: bold;
    background-color: #4A628A; /* 진한 파랑 */
    color: #fff;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .tabs {
        flex-direction: row;
        justify-content: center;
    }

    .tab-button {
        margin-bottom: 5px;
    }
}
