/* 전체 레이아웃 */
.container {
    width: 80%;
    margin: 0 auto;
}

/* 기존 nav 스타일 대신 notice-menu에 적용 */
.notice-menu {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
margin: 30px 0 50px; /* 위아래 간격 조정 */
    text-align: center;
}

.notice-menu a {
    margin: 0 50px; /* 좌우 간격 조정 */
    text-decoration: none;
    color: #666;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
}

.notice-menu a.active {
    color: #000;
    border-bottom: 2px solid #000;
}

.notice-menu a:hover {
    text-decoration: none;
}

/* 검색 박스 스타일 */
 .notice-search {
margin: 20px 0 30px;
position: relative; /* 자식 요소의 위치를 기준으로 설정 */
text-align: center;
}

.notice-search input[type="text"] {
    width: 500px;
    height: 36px;
    padding: 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.notice-search button {
    height: 38px;
    padding: 0 20px;
    margin-left: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.notice-search button:hover {
    background-color: #555;
}

.notice-search .btn {
    position: absolute; /* 글쓰기 버튼의 위치를 고정 */
    right: 0; /* 오른쪽 끝에 배치 */
    top: 50%; /* 부모 요소의 세로 중심 기준으로 이동 */
    transform: translateY(-50%); /* 정확히 세로 중심으로 정렬 */
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.notice-search .btn:hover {
    background-color: #0056b3;
}


 /* 테이블 스타일 */
 table {
     width: 100%;
     border-collapse: collapse;
     margin: 0 auto;
     text-align: center;
 }
 table thead th {
     background-color: #f8f8f8;
     padding: 15px;
     border-top: 2px solid #ddd;
     border-bottom: 1px solid #ddd;
     font-weight: bold;
 }
 table tbody tr {
     border-bottom: 1px solid #eee;
 }
 table tbody tr:hover {
     background-color: #f9f9f9;
     cursor : poniter;
 }
 table tbody td {
     padding: 15px;
     font-size: 15px;
 }
 table tbody td:nth-child(2) {
     text-align: center;
 }

        