body .container-fluid {
    max-width: 1000px;
    margin: 0 auto;
}
.container-fluid h3 {
    padding-top: 40px;
}

.custom-hr {
    height: 1px;
    border: none;
    background: #4A628A;
}

/* 상품 정보 영역 스타일 */
.order-product {
    display: flex;
    align-items: flex-start; /* 이미지와 텍스트가 위쪽 정렬됩니다 */
    gap: 20px; /* 이미지와 텍스트 사이 간격 */
    margin-bottom: 20px; /* 각 제품 사이의 여백 */
}

.order-product img {
    width: 100px;
    height: 100px;
    object-fit: cover; /* 이미지가 잘리지 않고 비율 유지 */
    border: 1px solid #ccc; /* 테두리 추가 */
    border-radius: 8px; /* 모서리를 둥글게 */
}

.order-product {
    flex: 1;
}
.product-detail {
    padding-left: 30px;
}

.product-detail>p {
    margin: 3px;
    padding : 3px;
}

.product-detail>p:first-of-type {
    margin: 3px;
    padding : 3px;
    font-size: 16px;
    font-weight: bold;
}

.product-title {
    font-size: 16px;
    font-weight: bold;
}

.product-detail {
    display: flex;
    flex-direction: column; /* 텍스트를 세로로 배치 */
    gap: 8px; /* 각 텍스트 사이 간격 */
}

.product-detail p {
    margin: 0; /* 기본 마진 제거 */
    font-size: 14px; /* 텍스트 크기 설정 */
}

.custom-hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0; /* 구분선 위아래 여백 */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#refund-reason {
    width: 100%;
    box-sizing: border-box;
    margin : 5px;
    gap: 10px;
    border-collapse: collapse;
}

#refund-reason th {
    width: 20%;
    font-weight: bold;
    font-size: 14px;
    border-right: 1px solid #ddd;
}

#refund-reason td {
    width: 80%;
}

#refund-reason td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#reasonSelect {
    width: 100%;
    box-sizing: border-box;
    margin : 5px;
    gap: 10px;
    border-collapse: collapse;
}

.refund-details table {
    width: 100%;
    border-collapse: collapse;
}

.refund-details th, .refund-details td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* 버튼 스타일 */
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-bottom: 40px;
}

.btn-secondary {
    background-color: #fff;
    color: #4A628A;
    border: 2px solid #4A628A;
}

.btn-secondary:hover {
    background-color: #f0f0f0;
}

.btn-primary {
    text-decoration: none;
    background-color: #4A628A;
    color: #fff;
}

.btn-primary:hover {
    background-color: #2b4473;
}
